.slices {
	/* All variables can be set in the JS */
	--slices-width: 100vw;
	--slices-height: 100vh;
	--slices: 30;
	--gap: 0px;
	width: 100vw;
	width: var(--slices-width); 
	height: 100vh;
	height: var(--slices-height); 
	display: grid;
	grid-template-columns: repeat(var(--slices), 1fr);
	grid-gap: var(--gap);
	position: fixed;
	top: 0;
	transition: opacity 500ms ease;
}



/* Horizontal slices */
.slices--horizontal,
.slices--horizontal .slice {
	grid-template-columns: none;
	grid-template-rows: repeat(var(--slices), 1fr);
}

.slice {
	position: relative;
	overflow: hidden;
}

.slice__inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.slice__bg {
	width: 100vw;
	width: var(--slices-width);
	height: 100vh;
	height: var(--slices-height);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
}



