@keyframes example-three-anim-1 {
  0% {
    clip: rect(24px, 100px, 6px, 0);
  }
  6.66667% {
    clip: rect(75px, 100px, 92px, 0);
  }
  13.33333% {
    clip: rect(35px, 100px, 76px, 0);
  }
  20% {
    clip: rect(63px, 100px, 79px, 0);
  }
  26.66667% {
    clip: rect(5px, 100px, 2px, 0);
  }
  33.33333% {
    clip: rect(24px, 100px, 11px, 0);
  }
  40% {
    clip: rect(16px, 100px, 1px, 0);
  }
  46.66667% {
    clip: rect(51px, 100px, 39px, 0);
  }
  53.33333% {
    clip: rect(47px, 100px, 5px, 0);
  }
  60% {
    clip: rect(51px, 100px, 35px, 0);
  }
  66.66667% {
    clip: rect(98px, 100px, 77px, 0);
  }
  73.33333% {
    clip: rect(44px, 100px, 35px, 0);
  }
  80% {
    clip: rect(75px, 100px, 23px, 0);
  }
  86.66667% {
    clip: rect(100px, 100px, 50px, 0);
  }
  93.33333% {
    clip: rect(7px, 100px, 47px, 0);
  }
  100% {
    clip: rect(98px, 100px, 20px, 0);
  }
}
@keyframes example-three-anim-2 {
  0% {
    clip: rect(25px, 100px, 98px, 0);
  }
  6.66667% {
    clip: rect(7px, 100px, 89px, 0);
  }
  13.33333% {
    clip: rect(62px, 100px, 14px, 0);
  }
  20% {
    clip: rect(26px, 100px, 88px, 0);
  }
  26.66667% {
    clip: rect(49px, 100px, 35px, 0);
  }
  33.33333% {
    clip: rect(68px, 100px, 36px, 0);
  }
  40% {
    clip: rect(49px, 100px, 65px, 0);
  }
  46.66667% {
    clip: rect(42px, 100px, 60px, 0);
  }
  53.33333% {
    clip: rect(72px, 100px, 35px, 0);
  }
  60% {
    clip: rect(55px, 100px, 3px, 0);
  }
  66.66667% {
    clip: rect(12px, 100px, 90px, 0);
  }
  73.33333% {
    clip: rect(89px, 100px, 23px, 0);
  }
  80% {
    clip: rect(88px, 100px, 35px, 0);
  }
  86.66667% {
    clip: rect(89px, 100px, 79px, 0);
  }
  93.33333% {
    clip: rect(15px, 100px, 6px, 0);
  }
  100% {
    clip: rect(65px, 100px, 67px, 0);
  }
}
.light .light-background  > img {
  position: absolute;
  top: 200px;
  left: 75px;
}
.light .light-background  > img:nth-child(2),
.light .light-background  > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.light .light-background  > img:nth-child(2) {
  left: 77px;
  animation: example-three-anim-1 2s infinite linear alternate-reverse;
}
.light .light-background  > img:nth-child(3) {
  left: 73px;
  animation: example-three-anim-2 3s infinite linear alternate-reverse;
}