*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Questrial');

body {
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url(https://s3.amazonaws.com/www.michaelkurz.me/img/case_studies/grid/window_grid.jpg);
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center !important;
  background-attachment: fixed !important;
  color: white;
}

h1,
h2,
h3,
h5,
h6, {
  font-family: 'Montserrat', sans-serif !important; 
}

h4 {
  font-family: 'Montserrat', sans-serif !important; 
  font-size: 1.6em !important;
}

p {
  font-family: 'Questrial', monospace;
}

i {
  font-size: .9em;
  line-height: 1.5;
}

b {
  font-weight: bolder;
  font-size: 1.125em;
}

.container {
  display: flex;
  flex-direction: column;
}

.head {
  text-align: left;
  max-width: 575px;
  margin-left: 14%;
  padding-bottom: 10%;
  padding-top: 26%;
}
.head .head__title {
  font-size: 4em;
  margin-bottom: 0.2em;
}
.head .head__description {
  font-size: 1.6em;
  margin-top: 1em;
  max-width: 650px;
}

.content {
  padding-top: 10%;
  background: #f7f7f7;
  width: 100%;
}
.content .content__para {
  width: 65%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  font-size: 1.125em;
  line-height: 1.5;
  color: black;
}



.content__para__hang {
  width: 65%;
  padding-left: 9.5%;
  padding-right: 5%;
  margin: 0 auto;
  font-size: 1.125em;
  line-height: 1.5;
  color: black;
  text-indent: -5%;
}

.photo_caption {
  display: flex;  
  justify-content: center;
  text-align: center;
  width: 42%;
  margin: 0 auto;
  color: black;
  padding-top: .8em;
}

.content__img {
  display: flex;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.content__list {  
  font-family: 'Questrial', monospace;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  font-size: 1.125em;
  line-height: 1.5;
  color: black;
  padding-top: .8em;
}

@media only screen and (max-width: 500px) {
  .content .content__para {
  width: 90%;
  }

  .content__list {  
  width: 70%;
  }

  .content__img {
  width: 85%;
  }

  .photo_caption {
  width: 65%;

  }

  .content__para__hang {
  width: 75%;
  padding-left: 9%;
  text-indent: -7%;
  }
}



