body{
  background-color: #ececec;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.night{
  background: red;
}
article{
  padding: 20px 15px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  color: #0c0c0c;
}
h1{font-size: 50px; }
h2{font-size: 36px; margin: 10px auto 30px;}
h3{font-size: 24px; margin: 40px auto 5px;}
.date{opacity: .7;}
p{font-size: 15px; line-height: 150%;}
a{font-weight: 700; text-decoration: none; color: #477dca}

.night article{color: #cfcfcf;}
.night a{color: #92374D}

.dntoggle{
  font-size: 28px;
  border-radius: 100px;
  background-color: #111111;
  padding: 15px;
  color:#fcfcfc;
  box-shadow: 1px 2px 6px rgba(0,0,0,.3);

  position: fixed;
  bottom:20px;
  right: 20px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.fa-moon-o:before{
  padding:0 2px;
}
.fa-sun-o{
  background-color: #fcfcfc;
  color:#111111;
}