
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Questrial');

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Questrial', sans-serif; 
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
    background: url("img/portrait_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #292929;
    width: 100%;
  	height: 100vh;
  	position: absolute;
 }

 @media only screen and (max-width: 500px){
    body {
       background: url("img/portrait_background.png") fixed;
       background-size: cover;
       background-size: cover;
       background-repeat: no-repeat;
       background-color: #292929;
       background-position: center;
    }

    .light {
       background-size: cover !important;
       background-repeat: no-repeat !important;
       background-color: #daf3ff !important;
       background-position: center !important;
    } 
 }


h1,
h2,
h3,
h4,
h5,
h6, {
	font-family: 'Montserrat', sans-serif; 
}

s {
  position: relative;
}
s::after {
  border-bottom: 0.13em  solid #C3FF00;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 60%;
}



.design-strike {
	color: #f7f7f7;
}

.light .design-strike {
	color: #292929
}

@media only screen and (max-width: 500px) {
	s {
		visibility: hidden;
	}

	.design-strike {
		visibility: hidden;
		clear: both;

	}
}

.light s::after {
	border-bottom: 0.13em  solid #4BD7FF;
}

/*===== Notification Bar  =====*/

.info-bar {
  display: none;
  font-family:"Questrial";
  font-weight:400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #C3FF00;
  color: #292929;
  text-align: center;
  padding: 8px 0;
}

.notification-bar, .notification-bar:visited {
  color: #292929;
}

.notification-bar:hover {
  color:#00D8FF;
}

.light .info-bar {
	background: #4BD7FF;
}

/*===== Navigation =====*/

.btm-nav {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
	background-color: transparent;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-left: 60px;
	margin-bottom: 50px;
}

.light .btm-nav a {
	color: #292929;
	font-weight: 600;
	letter-spacing: 1px;
}

@media only screen and (max-width: 500px){
	.btm-nav {
		display: flex;
		justify-content: space-around;
		font-size: 16px;
		width: 100%;
		margin: 0 auto;
		background-color: ;
		padding-bottom: 15px;
		position: fixed;	
	}

	.btm-nav a {
	color: #f7f7f7;
	text-decoration: none;
	padding-right: 10px !important;
	}
}

@media only screen and (max-width: 500px){
	.btm-nav a {
		line-height: 24px;
	}
}

.btm-nav a {
	color: #f7f7f7;
	text-decoration: none;
	padding-right: 40px;
	letter-spacing: 1px;
}

.btm-nav a:hover {
	color: #C3FF00
}

.light .btm-nav a:hover {
	color: #4BD7FF;
}

/*===== Logo =====*/

.logo {
	position: fixed;
	top: 50px;
	left: 60px;
	background: url(img/mk_logo_green.svg);
	width: 100px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
}

.light .logo {
	background: url(img/mk_logo_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 500px){
	.logo{
		top: 40px;
		left: 30px;
	}

	.logo-size{
		width: 60px;
	}
}

@media only screen and (max-width: 320px){
	.logo{
		top: 20px;
		left: 20px;
	}

	.logo-size{
		width: 60px;
	}
}

/*===== Home Page Content =====*/



.headline {
	color: #f7f7f7;
	font-size: 32px;
	margin-top: 225px;
	margin-left: 75px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	max-width: 900px;
}

.light .headline {
	color: #292929;
}

.name {
	color: #C3FF00;
	font-size: 2.8em;
	margin-top: 50px;
	margin-left: 75px;
	letter-spacing: 3px;
}

.light .name {
	color: #4BD7FF;
}


@media only screen and (max-width: 500px){
	.headline {
		width: 110%;
		font-size: .8em;
		margin-top: 220px;
		margin-left: 30px;
	}

	.name {
		font-size: 32px;
		margin-top: 30px;
		margin-left: 30px;
	}
}

/*===== About Page Content =====*/

.about-page-title {
	position: fixed;
	right: 145px;
	top: 100px;
	background: url(img/about_page_title_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

.light .about-page-title {
	background: url(img/about_page_title_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

.work-page-title {
	position: fixed;
	right: 145px;
	top: 100px;
	background: url(img/work_page_title_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

.light .work-page-title {
	background: url(img/work_page_title_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

.contact-page-title {
	position: fixed;
	right: 145px;
	top: 100px;
	background: url(img/contact_page_title_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

.light .contact-page-title {
	background: url(img/contact_page_title_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 150px;
	height: 150px;
}

@media only screen and (max-width: 500px){

	.about-page-title, .work-page-title, .contact-page-title {
		position: fixed;
		right: 40px;
		top: 55px;
		width: 100px;
		height: 100px;
	}

		.light .about-page-title, .light .work-page-title, .light .contact-page-title {
		position: fixed;
		right: 40px;
		top: 55px;
		width: 100px;
		height: 100px;
	}

}

.about-copy {
	color: #f7f7f7;
	font-family: 'Questrial', monospace; 
	font-size: 16px;
	max-width: 980px;
	margin-top: 275px;
	line-height: 30px;
	margin-left: 200px;
	margin-right: 50px;
	letter-spacing: .5px;
	opacity: .7;
	overflow: hidden;

}

/*===== typing effect start  =====*/

@keyframes typing {
    from { width: 100% }
    to { width: 0 }
    
}

.container {
  position: relative;
  font-family: 'Questrial', monospace;  
  color: #f7f7f7;
  margin-left: 300px;
  margin-top: 275px;
  width: 62%;
  font-size: 20px;
  line-height: 26px;
}

.light .container {
	color: #292929;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;

}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: #292929; /* same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}
  
.light .hiders p {
	background: #daf3ff;
}

.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}
.hiders p:nth-child(6) {
  animation-delay: 10s;
}
.hiders p:nth-child(7) {
  animation-delay: 12s;
}
.hiders p:nth-child(8) {
  animation-delay: 14s;
}
.hiders p:nth-child(9) {
  animation-delay: 16s;
}
.hiders p:nth-child(10) {
  animation-delay: 18s;
}
.hiders p:nth-child(11) {
  animation-delay: 20s;
}
.hiders p:nth-child(12) {
  animation-delay: 22s;
}
.hiders p:nth-child(13) {
  animation-delay: 24s;
}
.hiders p:nth-child(14) {
  animation-delay: 26s;
}
.hiders p:nth-child(15) {
  animation-delay: 28s;
}
.hiders p:nth-child(16) {
  animation-delay: 30s;
}
.hiders p:nth-child(17) {
  animation-delay: 32s;
}
.hiders p:nth-child(18) {
  animation-delay: 34s;
}
.hiders p:nth-child(19) {
  animation-delay: 36s;
}
.hiders p:nth-child(20) {
  animation-delay: 38s;
}
.hiders p:nth-child(21) {
  animation-delay: 40s;
}
.hiders p:nth-child(22) {
  animation-delay: 42s;
}
.hiders p:nth-child(23) {
  animation-delay: 44s;
}
.hiders p:nth-child(24) {
  animation-delay: 46s;
}

@media only screen and (max-width: 500px){
	.container {
		position: relative;
		font-family: 'Questrial', monospace;  
		color: #f7f7f7;
		margin-left: 120px;
		margin-top: 145px;
		margin-right: 20px;
		font-size: 16px;
		line-height: 20px;
	}

	.light .container {
		color: #292929;
	}

	.hiders p, .light .hiders p {
		background: transparent;
	}

}

@media only screen and (max-width: 320px){
	.container {
		margin-top: 155px;
		margin-left: 90px;
	}
}
/*===== typing effect end =====*/

@media only screen and (max-width: 500px){

	.about-copy {
		color: #f7f7f7;
		font-size: 14px;
		margin-top: 160px;
		line-height: 19px;
		margin-left: 125px;
		margin-right: 30px;
		letter-spacing: 0px;
		opacity: .8;
	}
}

/*===== Work Page Content =====*/

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 255px;
  margin-left: 100px; 
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

@media only screen and (max-width: 500px){
	.scrolling-wrapper {
	  margin-top: 160px;
	  margin-left: 2px; 
	}
}

.card {
	background-size: cover;
	display: inline-block;
	min-width: 300px;
	height: 350px;
	border: 2px solid #000000;
	margin: 10px;
	font-size: 24px;

}

.light .card {
	border: 2px solid #f7f7f7;
}

#card1 {
	background: url(img/plog_tile.png) center;
}
#card2 {
	color: #000;

}
#card3 {
	color: #000;

}
#card4 {
	color: #000;
}
#card5 {
	background: url(https://s3.amazonaws.com/www.michaelkurz.me/img/case_studies/refer/sharing_phone.jpg) center;
	background-size: cover;
	color: #f7f7f7;
}
#card6 {
	color: #000;
}
#card7 {
	background: url(https://s3.amazonaws.com/www.michaelkurz.me/img/case_studies/grid/window_grid.jpg) center;
	background-size: cover;
	color: #f7f7f7;
}
#card8 {
	color: #000;
}

.card-title {
	margin: 20px;
}

.light .card-title {
	color: #f7f7f7;
}

/*===== Contact Page Content =====*/

.contact-me {
  width: 80%;
  margin:  0 auto ;
  max-width: 600px;
  justify-content: center;
  margin-top: 220px;
  margin-left: 18%;
  margin-right: 20px;
}

@media only screen and (max-width: 500px){
  .contact-me {
  	margin: 0 auto;
  	margin-top: 185px;
  	width: 90%;
  }
  form .control {
  	padding-top: 20px !important;
  }
}

form .control {
  position: relative;
  padding-top: 30px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance:    none;
}
form .control label {
  color: #f7f7f7;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance:    none;
  opacity: .5;
}

.light form .control label {
	color: #292929;
}

form .control.submit {
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance:    none;
}
form input, form textarea {
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #f7f7f7;
  outline: none;
  padding: 10px 0;
  background-color: transparent;
  color: #f7f7f7;
  letter-spacing: 2px;
  font-size: 16px
  -webkit-appearance: none;
  -moz-appearance:    none;
}

.light form input, .light form textarea {
	border-bottom: 2px solid #292929;
	color: #292929;
}

form .filled label, form input:focus + label, form textarea:focus + label {
  top: 0;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance:    none;
}
form textarea {
  height: 100px;
  -webkit-appearance: none;
  -moz-appearance:    none;
}
form input[type="submit"] {
  width: auto;
  background-color: #C3FF00;
  padding: 12px 60px;
  color: #292929;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance:   none;
}

.light form input[type="submit"] {
	background-color: #00D8FF;
}

form input[type="submit"]:hover {
  background: #00D8FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C3FF00, #00D8FF); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C3FF00, #00D8FF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C3FF00, #00D8FF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C3FF00, #00D8FF); /* Standard syntax */
}

.light form input[type="submit"]:hover {
  background: #00D8FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #00D8FF, #C3FF00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #00D8FF, #C3FF00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #00D8FF, #C3FF00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #00D8FF, #C3FF00); /* Standard syntax */
}


/*===== Social Icons =====*/

.social-icons-1 {
	display: flex;
	height: 45%;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	right: 40px;
	z-index: 100;
}

.social-icons-2 {
	display: flex;
	height: 45%;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	right: 20px;
	z-index: 100;
}

.social-icons-3 {
	display: flex;
	height: 35%;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	right: 20px;
	z-index: 100;
}



.circle-icon-insta {
	padding-top: 10px;
	background: url(img/icons/insta_icon_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.circle-icon-linkedin {
	padding-top: 10px;
	background: url(img/icons/linkedin_icon_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.circle-icon-behance {
	padding-top: 10px;
	background: url(img/icons/behance_icon_green.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.light .circle-icon-insta {
	padding-top: 10px;
	background: url(img/icons/insta_icon_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.light .circle-icon-linkedin {
	padding-top: 10px;
	background: url(img/icons/linkedin_icon_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.light .circle-icon-behance {
	padding-top: 10px;
	background: url(img/icons/behance_icon_blue.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
	width: 40px;
	height: 40px;
}

.circle-icon-insta:hover, .circle-icon-linkedin:hover, .circle-icon-behance:hover {
	opacity: .65;
}

@media only screen and (max-width: 500px){
	.social-icons-1 {
		display: flex;
		flex-direction: row;
		height: 10%;
		justify-content: flex-start;
		margin-top: 100%;
		position: fixed;
		left: 25px;
	}

	.social-icons-2 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		position: fixed;
		top: 21%;
		right: 20px;
	}

	.social-icons-3 {
		display: none;
	}

	.circle-icon-insta, .circle-icon-linkedin, .circle-icon-behance {
		margin-right: 5px;
	}
}

@media only screen and (max-width: 320px){
	.social-icons-1 {
		display: flex;
		flex-direction: row;
		height: 10%;
		justify-content: flex-start;
		margin-top: 120%;
		position: fixed;
		left: 25px;
	}

	.social-icons-2 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		position: fixed;
		top: 24%;
		right: 20px;
	}

	.social-icons-3 {
	display: none;
	}

	.circle-icon {
	padding-right: 10px;
	}
}

/*===== UI Toggle Start =====*/

.bg {
  position: fixed;
  bottom:50px;
  right: 40px;
  border-radius: 100%;
  animation: pulse 1.2s ease infinite;
  background: #C3FF00;
  width: 30px;
  height: 30px;
}

.light .bg {
  position: fixed;
  bottom:50px;
  right: 40px;
  border-radius: 100%;
  animation: pulse 1.2s ease infinite;
  background: #C3FF00;
  width: 0px;
  height: 0px;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.dntoggle{
  background: url(img/icons/dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  z-index: 100;
  position: fixed;
  bottom:50px;
  right: 40px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.moon:before{
  background: url(img/icons/dark.svg);
}
.sun{
  background: url(img/icons/light.svg);
   background-repeat: no-repeat;
  background-size: cover;
}

.light {
	background: url("img/portrait_background_light_blue2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cecece;
}

/**
 * Tooltip Styles
 */

/* element attribute for adding tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 45%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 120px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #C3FF00;
  background-color: #C3FF00;
  color: #292929;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.light [data-tooltip]:before { 
  background-color: #4BD7FF;
  background-color: #4BD7FF;
}

.light [data-tooltip]:after {

  border-top: 5px solid #4BD7FF;
  border-top: 5px solid #4BD7FF;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* Triangle to make tooltip look like speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 28%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #C3FF00;
  border-top: 5px solid #C3FF00;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


.slices {
	/* All variables can be set in the JS */
	--slices-width: 100vw;
	--slices-height: 100vh;
	--slices: 30;
	--gap: 0px;
	width: 100vw;
	width: var(--slices-width); 
	height: 100vh;
	height: var(--slices-height); 
	display: grid;
	grid-template-columns: repeat(var(--slices), 1fr);
	grid-gap: var(--gap);
	position: fixed;
	top: 0;
	transition: opacity 500ms ease;
	}

.light-background {
	--slices-width: 100vw;
	--slices-height: 100vh;
	--slices: 30;
	--gap: 0px;
	width: 0px;
	width: var();
	height: 0px;
	height: var();
	display: grid;
	grid-template-columns: repeat(var(--slices), 1fr);
	grid-gap: var(--gap);
	position: fixed;
	top: 0;
	transition: opacity 500ms ease;
}

.light .light-background {
	width: 100vw;
	width: var(--slices-width); 
	height: 100vh;
	height: var(--slices-height); 
	background: url(url(img/portrait_background_light.png);
}

.light .slices {
	width: 0px;
	width: var();
	height: 0px;
	height: var(); 
}

	/* Horizontal slices */
.slices--horizontal,
.slices--horizontal .slice {
	grid-template-columns: none;
	grid-template-rows: repeat(var(--slices), 1fr);
	}

.slice {
	position: relative;
	overflow: hidden;
	}

.slice__inner {
	width: 100%;
	height: 100%;
	position: relative;
	}

.slice__bg {
	width: 100vw;
	width: var(--slices-width);
	height: 100vh;
	height: var(--slices-height);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	}

/* Container Glitch Effect */

.container2{
	animation: noise-3 1.5s linear infinite;
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 1;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
#container2:after {
  animation: noise-1 .2s linear infinite;
}
