@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Questrial');

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {

	font-family: 'Questrial', Avenir, Helvetica, Arial, sans-serif;
	color: #393a3e;
	background: #DAF3FF;
}

.section-link {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #1d48f3;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Headers */

.section-title, .vert-nav {
	font-size: 48px;
	color: #00D8FF;
}

.section-title {
	z-index: 9998;
	position: absolute;
	left: 66px;
	top: 20px;
}


@media screen and (max-width: 40em) {
	.section-title {
		top: 6px;
	}
	.section-title, .vert-nav {
		font-size: 32px;
	}
}

.page-title {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	bottom: 4%;
	margin: 0 auto;
}

@media screen and (max-width: 40em) {
	.page-title {
		bottom: -2%;
	}
	.vert {
		right: 6% !important;
	}
}

/* Vertical Nav */

.vert {
	position: fixed;
    right: 3%;
}

.vert-nav {
    display: flex;
    width: auto;
    height: 100%;
}

.vert-nav-item {
	flex: none;
    width: 60px;
    height: 100%;
}

.vert-nav-bar {
	width: 100%;
    height: 100%;
    position: absolute;
}
.vert-nav-item-title {
	transform: rotate(-90deg);
	position: relative;
    cursor: pointer;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    white-space: nowrap;
}

/* Info Bar */

.info-bar {
	display: none;
	font-family:"Questrial";
	font-weight:400;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #00D8FF;;
	color: #292929;
	text-align: center;
	padding: 8px 0;
  }

/* Top Navigation Style */

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
	font-size: 1.5em;
	position: fixed;
	z-index: 1002;
	top: 1em;
	right: 1em;
	opacity: 0;
	color: #121212;
	border: 1px solid #121212;
}

.btn--menu {
	font-size: 0.85em;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	margin: 10px 0 0 6px;
}

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
}

/* Content */
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.poster {
	position: relative;
	height: 80vh;
	margin: 10vh auto;
	padding: 0 50px;
	pointer-events: none;
}

.poster__img {
	position: relative;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.poster__caption {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0 50px;
}

.poster__box {
	position: absolute;
	top: -50px;
	left: 0;
	width: 50%;
	height: 40%;
	border: 10px solid;
}

.poster__number {
	font-size: 5em;
	font-weight: bold;
	line-height: 0.7;
	position: absolute;
	bottom: 0;
	left: calc(100% - 50px + 5px);
	color: #121212;
}

.poster__title {
	font-size: 6em;
	line-height: 0.9;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 0 -0.25em 0.16em;
	text-indent: -0.75em;
	
}

.poster__deco {
	font-size: 2em;
	line-height: 1;
	margin: 0 -1.25em 0 auto;
	color: #00D8FF;

	writing-mode: vertical-rl;
}

.open__case {
	position: absolute;
	background: transparent;
	width: 230px;
	height: 80px;
	bottom: 200px;
	right: 5%;
	font-size: 48px;
	border: none;
	white-space: nowrap;
	direction: rtl;
	text-indent: 45px;
	z-index: 9999;
}

.ui-link {
	display: flex;
	justify-content: center;
	margin-top: 15%;
	z-index: 9999;
	padding-left: 25px;
}

.illustration-link {
	display: flex;
	justify-content: center;
	margin-top: 10%;
    margin-left: 29%;
	z-index: 9999;
}

.ui-link, .illustration-link {
	background: transparent;	
	font-size: 48px;
	border: none;
	white-space: nowrap;
	text-indent: -17px;
	z-index: 9999;
}

.btn-background {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,216,255,01)), to(rgba(0,216,255,1)));
	background-image: linear-gradient(rgba(0,216,255,1), rgba(0,216,255,,1));
	background-size: auto 24px;
	background-repeat: repeat no-repeat;
	background-position: bottom center;
	padding-bottom: 0px;
}

.btn-background-work {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,216,255,01)), to(rgba(0,216,255,1)));
	background-image: linear-gradient(rgba(0,216,255,1), rgba(0,216,255,,1));
	background-size: auto 19px;
	background-repeat: repeat no-repeat;
	background-position: bottom;
	padding-bottom: 0px; 

}

.column {
	width: 30vw;
}

.column__title {
	color: #ff764b;
}

.column__text {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fff4d7;
}

.box {
	position: relative;
	width: 40vw;
	min-width: 300px;
	height: calc(90vh - 120px);
	margin-top: 40px;
	background-size: cover;
	background-position: 50% 0;
}

.box__title {
	font-size: 6em;
	position: absolute;
	bottom: 0;
	left: -1em;
	margin: 0;
	color: #fff;
}

.tabscontent__item:first-child .box {
	background-image: url(../img/portrait1.jpg);
}

.tabscontent__item:nth-child(2) .box {
	background-image: url(../img/portrait2.jpg);
}

.tabscontent__item:nth-child(3) .box {
	background-image: url(../img/portrait3.jpg);
}

@media screen and (max-width: 40em) {
	.view {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}
	.demo-3 .view {
		height: calc(100vh - 69px);
	}
	.content {
		flex-direction: column;
		padding: 10px;
	}
	.demos {
		align-items: flex-start;
		margin-top: 1em;
	}
	.poster__box {
		top: -20px;
		left: 30px;
		width: 30%;
		height: 30%;
		border: 7px solid;
	}
	.poster__deco {
		font-size: 1em;
	}
	.poster__number {
		font-size: 2em;
		left: calc(100% - 90px);
		color: 
	}
	.poster__title {
		font-size: 3em;
	}
	.btn--back {
		top: 0;
		right: 0;
	}
	.btn--menu {
		display: block;
		border: 1px solid #121212;
	}
	.demo-2 .btn--menu {
		position: relative;
		margin: 0 2em 0 0;
	}
	.demo-2 .tabscontent__item {
		font-size: 0.575em;
		flex-direction: column;
	}
	.column__title {
		margin: 1em 0 0;
	}
	.demo-3 .codrops-header__title {
		font-size: 2em;
		margin: 0;
	}
	.demo-3 .codrops-header__tagline {
		font-size: 1em;
		margin-left: 0;
	}
	.demo-3 .codrops-header::after {
		font-size: 3em;
		left: 10px;
	}
	.demo-3 .codrops-header__deco {
		font-size: 0.85em;
	}
}

/* --------------------------- */

/* -- page transition start -- */

/* --------------------------- */

.demo-4 {
	--color-content: #121212;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ccd8e4;
	background: var(--color-content);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	background: #121212;
	background: var(--color-text);
	border-radius: 50%;
	animation: loaderAnim 0.5s ease infinite alternate forwards;
}

@keyframes loaderAnim {
	0% {
		transform: scale3d(0.5,0.5,1);
	}
	100% {
		transform: scale3d(1,1,1);
	}
}

a {
	color: #f7f7f7;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #121212;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Page transitions */
main {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.content1 {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
}

.content--intro {
	z-index: 100;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-content-fixed);
	/* background-image: var(--bg-img); */
	/* can't use this as relative path until it's fixed in Chrome https://bugs.chromium.org/p/chromium/issues/detail?id=618165 */
	background-position: 50% 50%;
	background-size: cover;
}

.demo-4 .content--fixed {
	background-color: #daf3ff;
}

.content__inner {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content--intro .content__inner {
	background: var(--color-content);
}

.content h2 {
	margin: 0;
}

.content__title {
	color: #f7f7f7;
	font-size: 4em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
	max-width: 900px;
}

.name {
	color: #00D8FF;
	font-size: 2.8em;
	margin-top: 50px;
	letter-spacing: 3px;
}

.design-strike {
	color: #f7f7f7;
}

s {
	position: relative;
  }
  s::after {
	border-bottom: 0.13em  solid #00D8FF;
	content: "";
	left: 0;
	margin-top: calc(0.125em / 2 * -1);
	position: absolute;
	right: 0;
	top: 60%;
  }

.content__title--filled {
	background: var(--color-content);
	padding: 0.25em 0.5em;
}

.content__title span {
	display: inline-block;
}

.content__subtitle {
	font: var(--font-alt);
	font-size: 1.5em;
	color: var(--color-subtitle);
	padding: 0.5em 0 0 0;
	margin: 0;
}



.content__text {
	font-size: 1.85em;
	max-width: 800px;
	text-align: left;
}

.content__text a {
	color: var(--color-menu-item);
}

.content__text a:hover, 
.content__text a:focus {
	color: var(--color-menu-item-hover);
}

.enter-btn {
	width: 210px;
	height: 70px;
	background: transparent;
	border: none;
	box-shadow: -1px 0px 12px #000000
}

@media screen and (max-width: 50em) {
	.frame {
		z-index: 1000;
		display: block;
		padding: 0.85em 0;
	}
	.demos {
		font-size: 0.85em;
		padding: 0 0.25em;
	}
	.content--intro .content__inner,
	.demo-4 .content__inner {
		padding-top: 2em;
	}
	.content__title {
		font-size: 2em;
	}
	.demo {
		padding: 0;
		margin: 0;
	}
}